---
---

@import "{{ site.theme }}";

img {
  max-width: 768px;
}

.auth {
  max-width: 95%;
  border: none;
}

/* container */
.grid {
  display:block;
}

/* columns */
.grid > * {
  padding-right:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

.thumb {
  max-width: 75px
}

/* container */
.small-grid {
  display:block;
  align-items: begin;
}


/* tablet breakpoint */
@media (min-width:768px) {
  .small-grid {
      display: grid;
      grid-template-columns: 100px 1fr;
  }
}



